.view-EditorView {
}

.view-EditorView > div {
    position: relative;
    margin: 0;
    padding: 0;
}

.view-EditorView > div > * {
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    line-height: 1.2em;
    font-family: monospace;
    font-size: 1em;
}

.view-EditorView textarea {
    width: 100%;
    resize: none;
    background-color: transparent;
}

.view-EditorView > div > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
