.ui-view-TouchableView {
    --theme-margin-top: 0.5em;
    --theme-margin-right: 0.5em;
    --theme-margin-bottom: 0.5em;
    --theme-margin-left: 0.5em;
    display: inline-block;
    box-sizing: border-box;
    font: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s;
    filter: brightness(100%);
    margin: var(--theme-margin-top) var(--theme-margin-right)
        var(--theme-margin-bottom) var(--theme-margin-left);
}

.ui-view-TouchableView.wide {
    width: calc(100% - var(--theme-margin-left) - var(--theme-margin-right));
}

.ui-view-TouchableView:active {
    transition: all 0.2s;
    filter: brightness(150%);
}

.ui-view-TouchableView.disabled {
    cursor: default;
    filter: grayscale(100%);
    opacity: 0.6;
}
