.Dialog {
    background-color: var(--theme-color-neutral);
    color: var(--theme-color-on-neutral);
    box-shadow: 0 0.5em 1em #000;
}

.Dialog > footer {
    background-color: var(--theme-color-neutral-3);
    color: var(--theme-color-on-neutral-3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 1em;
}
