.Tabs {
    --custom-color-back: var(--theme-color-neutral-5);
    --custom-color-text: var(--theme-color-on-neutral-5);
    --custom-color-highlight: var(--theme-color-primary-5)
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
}

.Tabs > header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap-reverse;
    height: 2em;
    padding: 0;
}

.Tabs > header > div {
    background: var(--custom-color-back);
    color: var(--custom-color-text);
    border-top: 2px solid var(--custom-color-highlight);
    border-radius: 2px 2px 0 0;
}

.Tabs > header > button {
    all: inherit;
    cursor: pointer;
    transition: all .2s;
}

.Tabs > header > button:hover,
.Tabs > header > button:active {
    background: var(--custom-color-back);
    color: var(--custom-color-text);
}

.Tabs > header > * {
    margin: 0;
    padding: 0 .25em;
    display: grid;
    place-items: center;
}

.Tabs > main {
    flex: 1 1 auto;
    padding: 0.5em;
    background: var(--custom-color-back);
    color: var(--custom-color-text);
}
