div.view-page-painter-section-Data > div.attributes {
    display: grid;
    gap: 0 0.5em;
    grid-template-columns: auto auto 1fr;
    place-items: center stretch;
}

div.view-page-painter-section-Data > div.uniforms {
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto 1fr;
    place-items: center stretch;
}