div.ui-view-FlexView {
    display: flex;
}

.ui-view-FlexView .flex-0 {
    flex: 0 0 auto;
}

.ui-view-FlexView .flex-01 {
    flex: 0 1 auto;
}

.ui-view-FlexView .flex-10 {
    flex: 1 0 auto;
}

.ui-view-FlexView .flex-1 {
    flex: 1 1 auto;
}

.ui-view-FlexView .flex-2 {
    flex: 2 2 auto;
}

.ui-view-FlexView .flex-3 {
    flex: 3 3 auto;
}

.ui-view-FlexView .flex-4 {
    flex: 4 4 auto;
}

.ui-view-FlexView .flex-5 {
    flex: 5 5 auto;
}

.ui-view-FlexView .order-0 {
    order: 0;
}
.ui-view-FlexView .order-1 {
    order: 1;
}
.ui-view-FlexView .order-2 {
    order: 2;
}
.ui-view-FlexView .order-3 {
    order: 3;
}
.ui-view-FlexView .order-4 {
    order: 4;
}
.ui-view-FlexView .order-5 {
    order: 5;
}
.ui-view-FlexView .order-6 {
    order: 6;
}
.ui-view-FlexView .order-7 {
    order: 7;
}
.ui-view-FlexView .order-8 {
    order: 8;
}
.ui-view-FlexView .order-9 {
    order: 9;
}
