.view-PreviewView {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    box-sizing: border-box;
}

.view-PreviewView > canvas {
    flex: 0 0 auto;
    width: 50vw;
    max-width: 640px;
    height: 70vh;
    max-height: 480px;
    background-color: #000;
    margin: 0;
    box-sizing: border-box;
}

.view-PreviewView div.uniforms {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    align-items: center flex-start;
}
