.ui-view-ComboView {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 0.25em;
}

.ui-view-ComboView.wide {
    display: flex;
    width: 100%;
}

.ui-view-ComboView > button {
    all: inherit;
    box-shadow: var(--theme-shadow-button);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    cursor: pointer;
    height: 2rem;
}

.ui-view-ComboView > button > div:first-child {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    align-items: center;
    overflow-y: hidden;
    padding: 0 0.5em;
}

.ui-view-ComboView > button > div:last-child {
    flex: 0 0 auto;
    width: 1em;
    display: grid;
    place-items: center;
}

.ui-view-ComboView-overlay {
    background-color: var(--theme-color-neutral-2-opacity-50);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.ui-view-ComboView-overlay > div.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    box-shadow: var(--theme-shadow-dialog);
    z-index: 999999;
    max-height: 80vh;
}

.ui-view-ComboView-overlay > div.container > header {
    flex: 0 0 auto;
    font-weight: 900;
    font-variant: small-caps;
}

.ui-view-ComboView-overlay > div.container > main {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    padding: 0;
    margin: 0;
}

.ui-view-ComboView-overlay > div.container > main > button {
    all: unset;
    margin: 0;
    padding: 0 0.25em;
    cursor: pointer;
    height: 3em;
    box-shadow: 0 1px inset var(--theme-color-on-input-opacity-50);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-color-input);
    color: var(--theme-color-on-input);
}

.ui-view-ComboView-overlay > div.container > main > button:hover {
    background-color: var(--theme-color-secondary);
    color: var(--theme-color-on-accent);
}
