.view-page-PainterPage {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    --header-height: 3rem;
}

.view-page-PainterPage > header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
}

.view-page-PainterPage > main {
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50vw 1fr;
    gap: 1em;
    place-items: start center;
    padding: 1em;
    flex: 1 1 auto;
}

.view-page-PainterPage main > div {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.view-page-PainterPage main pre {
    white-space: pre-wrap;
    padding: 0.5em;
    font-size: 80%;
}

.view-page-PainterPage main > div > canvas {
    width: 50vw;
    height: 50vh;
    background-color: #000;
    margin: 0;
}

.view-page-PainterPage main div.uniforms-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

.view-page-PainterPage main div.help p {
    all: initial;
    color: inherit;
}

.view-page-PainterPage main div.uniforms-grid > code {
    font-family: monospace;
}

.view-page-PainterPage main div.uniforms-grid > div {
    opacity: 0.5;
}

.view-page-PainterPage main .deactivated {
    opacity: 0.5;
    font-style: italic;
}

.view-page-PainterPage main pre.export {
    max-width: 50vw;
    white-space: pre-wrap;
}

.view-page-PainterPage fieldset {
    margin: 1em 0;
}

.view-page-PainterPage fieldset > legend {
    background: var(--theme-color-primary);
    color: var(--theme-color-on-primary);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    font-weight: bolder;
}
