body {
    position: relative;
    color: white;
    height: 100vh;
    background: linear-gradient(
        20deg,
        var(--theme-color-primary-3) -15%,
        var(--theme-color-neutral-3) 20%,
        var(--theme-color-neutral-2) 80%,
        var(--theme-color-secondary) 130%
    );
    font-family: sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

fieldset {
    display: inline-block;
    border: 1px solid var(--theme-color-on-neutral-5-5);
    background: var(--theme-color-neutral-5-5);
    color: var(--theme-color-on-neutral-5);
    border-radius: 1em;
}

fieldset.wide {
    display: block;
}

fieldset > legend {
    all: unset;
    background: transparent;
    padding: 0;
}

fieldset > legend > div.custom {
    margin: 0;
}

body > div#app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--theme-color-primary-dark);
    color: var(--theme-color-on-primary-dark);
    padding: 0 0.5em;
    box-shadow: 0 0.25em 0.5em var(--theme-color-primary-7-5);
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
}

header * {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 80%;
    background-color: var(--theme-color-neutral-2);
    color: var(--theme-color-on-neutral-2-5);
    border-left: 0.5em solid var(--theme-color-secondary-dark);
    margin: 0.5em;
    padding: 0.5em 1em;
}
